<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/dashboard}">Aplikasi Auditing SPI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manajemen User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/users/add}">Tambah User Baru</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/users/list}">Daftar User</a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('KEPALASPI')">
                    <a class="nav-link" th:href="@{/kepalaspi/laporan}">Laporan SPI</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('SEKRETARIS')">
                    <a class="nav-link" th:href="@{/sekretaris/jadwal}">Kelola Jadwal Audit</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('PEGAWAI')">
                    <a class="nav-link" th:href="@{/pegawai/tugas}">Lihat Tugas Saya</a>
                </li>
            </ul>
            <div class="d-flex text-white align-items-center">
                <span class="navbar-text me-3">
                    Halo, <strong sec:authentication="name">Nama Pengguna</strong>
                </span>
                <form th:action="@{/logout}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-light">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>